:root{
    --primary: #b39d7d;
    --secondary: #76af1b;
    --roboto:'Roboto', sans-serif;
}

body{
    background-color: rgba(255, 255, 255, 0.671);
    height: 100vh;
    overflow-x: hidden;
}

.main-navbar{
    background-color: rgba(250, 250, 250, 0.425);
}

.navbar-brand img{
    width: 100px;
}

.nav-link{
    color: #f16748 !important;
    font-weight: 500;
    font-size: 14px !important;
    text-transform: uppercase;
}

.nav-link:hover, .active{
    color: rgb(181, 199, 16) !important;
}

.navbar-collapse{
    flex-grow: unset !important;
}

.dropdown-menu{
    background-color: rgba(144, 247, 165, 0.856);
    
}

.dropdown-item{
    color: #76afff;
}


.slider-image img{
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
    border: 10px solid #16070e;

}

.slider{
    background-image: url(Images/bg1.jpg);
    height: 100vh;
    display:flex;
    align-items: center;
}

.slider a{
    position: relative;
}

.name{
    font-size: 50px;
    color: var(--primary);
    text-align: center;
}

.job{
    font-size: 85px;
    font-family: var(--roboto);
    text-align: center;
    color: #b39d7d;
}

.location{
    font-size: 60px;
    font-family: var(--roboto);
    text-align: center;
    color: var(--primary);
}


.description{
    color: rgba(24, 119, 5, 0.733);
    text-align: center;
}

@media(max-width:767px){
    .job{
        font-size: 30px !important ;
    }
    .location{
        font-size: 30px !important;
    }
}

/* about */

.sm-title{
    color: var(--primary);
    font-size: 25px;
    text-align: center;
    margin-top: 2%;
}

.lg-title{
    color: #2e0f85;
    font-size: 50px;
    font-family: var(--roboto);
    text-align: center;
    margin-bottom: 5%;
}

.text{
    color: rgba(31, 8, 10, 0.671);
}

.about-image{
    width: 60%;
    border-radius: 10%;
    overflow: center;
}

.a-name{
    color: #1f0808;
    font-size: 45px;
    text-align: center;
    margin-top: 15%;
}

.a-job{
    color: var(--primary);
    font-size: 13px;
    text-align: center;
    margin-top: -1%;
}

.a-job span{
    color: var(--primary);
}

.line{
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.425);
}

table{
    color: #807575;
}

.p-i{
    font-family: var(--roboto);
    color: #0e110f;

}

.iconSection{
    display: flex;
}

.icon-text{
    color: #5af16e;
    margin-left: 10px;
}

.c-text{
    color: #5af16e;
    font-size: 30px;
}
.c-text span {
    color: var(--#5af16e);
}

.form-label{
    color: #5af16e;
    
}

.row_contact_mt-5{
    background-color: #5af16e;
}

.footer{
    height: 40px;
    width: 100vw;
    background-color: rgb(102, 29, 72);
    display: flex;
    align-items: center;
    margin-top: 1%;
}

.footer a{
    text-decoration: none;
    color: #fff;
    text-align: center;
    
}
 .footer a span{
     color: var(--primary);
 }